name: docker-release

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Build and push Docker images
        uses: docker/build-push-action@v6.18.0
        with:
          platforms: linux/amd64
          push: true
          file: ./Dockerfile
          tags: user/app:latest
