name: ci

on:
  push:

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:            
    - name: Build and push Docker images
      # You may pin to the exact commit or the version.
      # uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83
      uses: docker/build-push-action@v6.18.0
      with:
        # Push is a shorthand for --output=type=registry
        push: true
        # List of tags
        tags: user/app:latest
        # Path to the Dockerfile
        file: ./Dockerfile
